<div class="main">
  <div class="section-from">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="row-center">
            <h1>Add word to english dictionary</h1>
            <mat-form-field class="full-width">
              <mat-label>Insert english word:</mat-label>
              <input matInput placeholder="Ex. hello" [formControl]="wordFormControl" #word>
              <mat-error *ngIf="wordFormControl.hasError('minlength') && !wordFormControl.hasError('required') && !wordFormControl.hasError('pattern')">
                Word must contain more than 1 letter
              </mat-error>
              <mat-error *ngIf="wordFormControl.hasError('pattern') && !wordFormControl.hasError('required')">
                Please enter a valid word
              </mat-error>
              <mat-error *ngIf="wordFormControl.hasError('required')">
                Word is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Insert estonian translation:</mat-label>
              <input matInput  placeholder="Ex. tere" [formControl]="wordFormControl2" #translation>
              <mat-error *ngIf="wordFormControl2.hasError('minlength') && !wordFormControl2.hasError('required') && !wordFormControl2.hasError('pattern')">
                Word must contain more than 1 letter
              </mat-error>
              <mat-error *ngIf="wordFormControl2.hasError('pattern') && !wordFormControl2.hasError('required')">
                Please enter a valid word
              </mat-error>
              <mat-error *ngIf="wordFormControl2.hasError('required')">
                Translation is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-checkbox color="primary" class="margin-top" [(ngModel)]="addCheck">
              Add word and translation to estonian dictionary so you can search for this word in estonian as well
            </mat-checkbox>
            <button class="margin-top" mat-raised-button disabled color="primary" title="Add word" *ngIf="
              wordFormControl.hasError('minlength')
              || wordFormControl.hasError('pattern')
              || wordFormControl.hasError('required')
              || wordFormControl2.hasError('minlength')
              || wordFormControl2.hasError('required')
              || wordFormControl2.hasError('pattern'); else checked" aria-label="Add word show snack-bar">
              Add word
            </button>
            <ng-template #checked>
              <button class="margin-top" mat-raised-button color="primary" title="Add word" aria-label="Add word show snack-bar" (click)="add(addCheck, word.value, translation.value)">
                Add word
              </button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
