<!--<div>-->
<!--  <ul *ngFor="let word of words" >-->
<!--    <li *ngFor="let trs of word.equivalents">-->
<!--      {{word.word}} = {{trs.word}}-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

<div class="main">
  <div class="section-from">
    <div class="container">
      <div class="row">
        <div class="col col-lg-6">
          <div class="d-flex flex-column row-left">
            <label> {{label}} </label>
            <input #word/>
            <button mat-raised-button color="primary" (click)="getEstonianTranslation(word.value)">
              {{buttonTranslate}}
            </button>
          </div>
        </div>
        <div class="col col-lg-6">
          <div class="d-flex flex-column row-center">
            <p>{{change_language}}</p>
            <button mat-fab color="primary" aria-label="Change language">
              <mat-icon>autorenew</mat-icon>
            </button>
          </div>
        </div>
        <div class="col col-lg-6">
          <div class="d-flex flex-column row-right">
            <p>Found exact: {{found_exact}}</p>
            <mat-list *ngFor="let est_word of estonian_words">
              <mat-list-item *ngFor="let trs of est_word.equivalents"> {{trs.word}} </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
