.container {
  display: flex;
  //flex-flow: column;
  text-align: center;
  justify-content: center;
  padding: 1em;
  border-style: solid;
  border-color: #a11aac;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-flow: row;
}

.main {
  position: relative;
}

.section-from {
  padding-top: 10px;
}

.row-left {
  display: flex;
  flex-flow: column;
  border-style: solid;
  border-color: #cb21d9;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
}

.row-right {
  display: flex;
  flex-flow: column;
  border-style: solid;
  border-color: #cb21d9;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
}

.row-center {
  display: flex;
  flex-flow: column;
  border-style: solid;
  border-color: #cb21d9;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
}

button {
  margin: 1em;
  align-self: center;
}

.mat-list-base .mat-list-item {
  color: black;
}
